certifi==2020.6.20
chardet==3.0.4
Django==2.2
django-crispy-forms==1.9.2
django-debug-toolbar==2.2
django-ratelimit==3.0.1
django-rest-framework==0.1.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.1
idna==2.10
pytz==2020.1
requests==2.24.0
requests-cache==0.5.2
sqlparse==0.3.1
urllib3==1.25.10
certifi==2020.6.20
chardet==3.0.4
Django==2.2
django-debug-toolbar==2.2
django-ratelimit==3.0.1
django-rest-framework==0.1.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.1
idna==2.10
pytz==2020.1
requests==2.24.0
requests-cache==0.5.2
sqlparse==0.3.1
urllib3==1.25.10
dj-database-url
django-heroku
gunicorn
psycopg2
python-decouple
whitenoise

# testing
codecov
pytest-django
pytest-cov
mixer
selenium