{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block extrastyles %}
  {{ block.super }}
  <link href="{% static 'css/semantic.min.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'css/global-github-theme.min.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'css/spfjs.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'css/stackoverflow_style.css' %}" rel="stylesheet" media="all">
{% endblock extrastyles %}

{% block content %}
{% block error_message %}
    {% include 'partials/alert_messages.html' %}
{% endblock %}
    
  <div class="ui equal width vertically padded grid container">
    <div class="column left-sidebar left">
        <div class="ui fluid left vertical">
          <div class="sidebar-total-questions">
            <h3 class="ui grey header">Search Filters</h3>
            <form method="post" id="form">
              {% csrf_token %}
              <button type="submit" id="submit" class="btn btn-primary">Run</button>
              {% for field in form %}
                {% include 'partials/form_field.html' with field=field %}      
              {% endfor %}
            </form>
          </div><!-- end /.sidebar-total-questions -->
        </div>
      </div>
      <div class="twelve wide column">
        <!--<div class="repo description">
          <div>Semantic is a UI component framework based around useful principles from natural language.</div>
        </div>-->
        <div class="ui divided items">
          {% for question in questions %}
          <div class="item">
            <div class="stats">
              <div class="vote stats-inside">
                <div class="ui mini statistic">
                  <div class="value">
                    {{ question.score }}
                  </div>
                  <div class="label">
                    votes
                  </div>
                </div>
              </div>
              <div class="answers stats-inside">
                <div class="ui mini statistic">
                  <div class="value">
                    {{ question.answer_count }}
                  </div>
                  <div class="label">
                    answers
                  </div>
                </div>
              </div>
              <div class="views stats-inside">
                <div class="ui mini statistic">
                  <div class="value">
                    {{ question.view_count }}
                  </div>
                  <div class="label">
                    views
                  </div>
                </div>
              </div>
            </div>
            <div class="content">
              <a href="{{ question.link}}" class="ui blue header no-bold spf-link">{{ question.title }}</a>
              <div class="meta">
                <span class="date">asked {{ question.creation_date|timestamp_to_time }}</span>
              </div>
              {% comment %} <div class="description">
                <p>{{ question.description|safe|striptags|truncatewords:"30" }}</p>
              </div> {% endcomment %}
              <div class="extra">
                {% for tag in question.tags %}
                 <div class="ui horizontal label no-radius">{{ tag }} </div>
                {% endfor %}

                <div class="ui right floated user-info">
                  <div class="ui items">
                    <div class="item">
                      <a class="ui tiny image spf-link" href="{{ question.owner.link }}">
                        <img src="{{ question.owner.profile_image }}">
                      </a>
                      <div class="content">
                        <a class="ui blue small header spf-link"
                          href="{{ question.owner.link }}">
                          {{ question.owner.display_name }}
                        </a>
                        <div class="description">
                          <span class="reputation">
                            <i class="diamond orange icon"></i> <b>{{question.owner.reputation}}</b>
                          </span>
                          &nbsp;
                          <span class="gold-badge">
                            <i class="circle small yellow icon"></i> 12
                          </span>
                          &nbsp;
                          <span class="silver-badge">
                            <i class="circle small grey icon"></i> 38
                          </span>
                          &nbsp;
                          <span class="bronze-badge">
                            <i class="circle small brown icon"></i> 93
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div><!-- end /.items -->

        <div class="ui divider"></div>

        {% if questions.has_other_pages %}
          {# `is_paginated` is default bassed in `generic.ListView` #}
          <div class="ui paginations">
            <div class="ui small pagination menu">
              {% if questions.has_previous %}
                <a class="item spf-link" href="?page={{ questions.previous_page_number }}">
                  {% trans "prev" %}
                </a>
              {% endif %}
              <a class="item spf-link" href="?page=1">first</a>

              <!--{% if questions.paginator.num_pages not in page_range %}
                <div class="disabled item">...</div>
              {% endif %}-->

              {% for linkpage in page_range %}
                {% ifequal linkpage questions.number %}
                  <a class="item active">
                    {{ questions.number }}
                  </a>
                {% else %}
                  <a class="item spf-link" href="?page={{ linkpage }}">{{ linkpage }}</a>
                {% endifequal %}
              {% endfor %}

              <!--{% if 1 not in page_range %}
                <div class="disabled item">...</div>
              {% endif %}-->

              <a class="item spf-link" href="?page={{ questions.paginator.num_pages }}">last</a>

              <!--{% if questions.paginator.num_pages > 5 and questions.paginator.num_pages not in page_range %}
                <a class="item spf-link" href="?page={{ questions.paginator.num_pages }}">{{ questions.paginator.num_pages }}</a>
              {% endif %}-->

              {% if questions.has_next %}
                <a class="item spf-link" href="?page={{ questions.next_page_number }}">
                  {% trans "next" %}
                </a>
              {% endif %}
            </div><!-- end /.ui.pagination.menu -->
            <div class="ui right floated small pagination menu">
              <a class="active item">
                10
              </a>
              <a class="item">
                30
              </a>
              <a class="item">
                50
              </a>
              <a class="disabled item">
                per page
              </a>
            </div><!-- end /.ui.pagination.menu -->
          </div>
        {% endif %}{# endif is_paginated #}
      </div>
    </div><!-- end /.ui equal width vertically padded grid container -->
{% endblock %}

{% block extrascripts %}
{{ block.super }}

{% endblock extrascripts %}

