{% load i18n %}

<div class="page header">
  <div class="ui container">
    <div class="ui right floated icon text menu">
      
        <div class="item">
          <a class="spf-link" href=""><b>{% trans "Sign In" %}</b></a>
        </div>
        <div class="item">
          <a href=""><b>{% trans "Sign Up" %}</b></a>
        </div>
    </div>

    <div class="ui text menu">
      <a class="icon item spf-link" href="">
        <i class="big emphasized stack overflow circle icon"></i>
        {% include 'partials/brand.html' %}
      </a>
      
      </div>
    </div>
  </div>
</div>
