{% load i18n %}

<div class="page header">
  <div class="ui container">
    <div class="ui right floated icon text menu">
      
        <div class="item">
          <a class="spf-link" href=""><b>{% trans "Sign In" %}</b></a>
        </div>
        <div class="item">
          <a href=""><b>{% trans "Sign Up" %}</b></a>
        </div>
    </div>

    <div class="ui text menu">
      <a class="icon item spf-link" href="">
        <i class="big emphasized question circle icon"></i>
        {% include 'partials/brand.html' %}
      </a>
      <div class="item">
        <div class="ui small labeled input">
          <div class="ui label">
            Questions
          </div>
          <input type="text" placeholder="Search">
        </div>
        <a class="item spf-link" href="">
          <b>Questions</b>
        </a>
        <a class="item spf-link" href="">
          <b>Tags</b>
        </a>
        <a class="item spf-link" href="">
          <b>Users</b>
        </a>
      </div>
    </div>
  </div>
</div>
