.no-radius {
  border-radius: 0!important;
}
.no-underline {
  text-decoration: none!important;
}
.no-bold {
  font-weight: normal!important;
}
.no-border {
  border: none!important;
}
.ui.link {
  cursor: pointer;
}
.ui.padded {
  padding: .5em;
}
.ui.blue.color {
  color: #4183C4!important;
}
.ui.grey.color {
  color: #767676!important;
}
.top-align {
  vertical-align: top!important;
}
.hover-opacity {
  opacity: .2!important;
}
.hover-opacity:hover {
  opacity: 1;
}
.icon.icon-dot-badge {
  margin-right: -3px!important;
}
.breadcrumb-title-detail>a {
  max-width: 900px;
}
.margin-2-0 {
  margin: 2em 0!important;
}
pre.highlight {
  background-color: #fffaf3;
  padding: 0.5em;
  counter-reset: line;
  counter-increment: line;
  white-space: pre-wrap;
  font-size: 12px;
}
.ui.blue.header {
  color: #4183C4!important;
  text-decoration: none;
}
.ui.divided.items>.item {
  padding-top: 2em;
}

/*--------------
     Footer
---------------*/

.footer .container {
  position: relative;
  margin-top: 60px;
  padding-bottom: 2.5em;
}
.footer .container .github.mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



/*******************************
          Page CSS
*******************************/


/* This CSS is used to make per-page adjustments
  Each page is given a body #id tag to descend
  from for page-specific rules

*/





/* Container */
@media only screen and (min-width: 1049px) {
  .ui.container {
    width: 1120px!important;
  }
  .ui.grid.container {
    width: calc(1120px + 2rem)!important;
  }
}

.ui.items>.item>.stats {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  max-height: '';
  -webkit-align-self: top;
  -ms-flex-item-align: top;
  align-self: top;
  margin-right: 1em;
}
.ui.items>.item>.stats>.stats-inside {
  padding: 10px;
  text-align: center;
}
.ui.items>.item>.stats>.stats-inside-detail {
  padding: 0 5px;
  text-align: center;
}
.ui.items>.item>.stats>.stats-inside .value {
  font-weight: bold;
}
.ui.items>.item>.stats>.votes {}
.ui.items>.item>.stats>.answers {
  background: #5fba7d;
  color: #fff;
}
.ui.items>.item>.stats>.views {
  color: #F48024;
}
.user-info .reputation .icon,
.user-info .gold-badge .icon,
.user-info .silver-badge .icon,
.user-info .bronze-badge .icon {
  margin-right: 0;
}
.user-info .ui.tiny.image {
  width: 55px;
}
.user-info .image+.content {
  padding-left: 1em!important;
}

.ui.message.message-bulletin {
  background-color: #FFF8DC;
  border: 1px solid #E0DCBF;
  box-shadow: none;
}

/* Sidebar */
.sidebar-bulletin {
  margin: 2em 0;
  padding: 15px 15px 10px;
  background-color: #FFF8DC;
  border: 1px solid #E0DCBF;
}
.sidebar-related-tags>.selection.list>.item {
  padding-left: 0;
}
.sidebar-related-tags>.selection.list>.item:hover {
  background: transparent!important;
}

.sidebar-bulletin .list .item,
.sidebar-related-questions .list .item,
.ui.list.list-box-items .item {
  margin-bottom: 1em;
}
.sidebar-related-questions .list .item .ui.answered,
.ui.list.list-box-items .item .ui.answered {
  background: #5fba7d;
  border-radius: 3px;
  padding: 7px 5px;
  font-size: 12px;
  color: #fff;
}
.sidebar-related-questions .list .item:hover,
.ui.list.list-box-items .item:hover {
  color: #3af!important;
}
.sidebar-related-questions .list .item:hover .ui.answered,
.ui.list.list-box-items .item:hover .ui.answered {
  color: #fff;
}
.sidebar-related-questions .list .item .ui.unanswered,
.ui.list.list-box-items .item .ui.unanswered {
  background: #e8e8e8;
  border-radius: 3px;
  padding: 7px 5px;
  font-size: 12px;
  color: #000;
}
.ui.list.list-box-items .item .content {
  line-height: 2;
}
.ui.list.list-box-items .item .ui.answered,
.ui.list.list-box-items .item .ui.unanswered {
  padding: 5px 7px;
}

.ui.items>.item>.content>.description.content-description-detail {
  background: none;
  line-height: 22px;
  font-size: 14px;
  color: #333;
  padding: 0;
}

.tags-question-detail .ui.label {
  margin-bottom: 3px;
}
.sef-actions {
  vertical-align: top;
}
.share-action, .edit-action, .flag-action {
  margin-right: 3px;
}
.user-signature {
  width: 250px;
}
.user-info-signature {
  margin: 0!important;
}

.ui.attached.buttons.radius-two-buttons .or {
  position: static;
}
.ui.attached.buttons.radius-two-buttons .ui.github.button {
  border-radius: 2px 0 0 2px;
}
.ui.attached.buttons.radius-two-buttons .ui.linkedin.button {
  border-radius: 0 2px 2px 0;
}

.ui.segment.post-action-segment {
  box-shadow: none;
  padding: 5px;
  padding-right: 0;
}


/* Messages */
.main-messages {
  border-bottom: 1px solid #eee;
  background: #fafafa;
  padding: 1em 0;
}
